<tr>
  <td><%= action.date %></td> 
  <td><span class="label label-<%= action.type_class %>"><%= action.type_text %></span></td> 
  <td><%= display_changes(action.department_old.try(:name), action.department_new.try(:name)) %></td> 
  <td><%= display_changes(action.job_old.try(:name), action.job_new.try(:name)) %></td> 
  <td><%= display_changes(number_with_delimiter(action.salary_old), number_with_delimiter(action.salary_new)) %></td> 
</tr>
