<div class="page-header">
  <h2>Создание сотрудника</h2>
</div>

<%= bootstrap_form_for @employee do |f| %>

  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.collection_select :department_id, Department.all, :id, :name, :prompt => 'Выберите подразделение' %>
  <%= f.collection_select :job_id, Job.all, :id, :name, :prompt => 'Выберите должность', :class => "form-control" %>
  <%= f.number_field :salary, :step => 1 %>

  <div class="form-actions">
    <%= f.submit "Сохранить", class: "btn btn-primary" %>
    <%= link_to "Назад", employees_path, class: "btn btn-default" %>
  </div>

<% end %>